@import url("icomoon.css");

.e-hide { display: none; }
.small-fonticon { font-size: 12px; cursor: pointer; }

body { background: black; color: white; font-size:16px; }
.cardcontent { float: left; width: 300px; margin-top: 20px; margin-left: 20px; display: table; }
.cardinfo,.cchead { margin-top:-1px; display: table-row; line-height: 30px; }
.cardinfo:hover { background: #444444; }
.cardcontent .cardinfo, .cardcontent .cchead { width: 280px; }
.cardsep { padding-left: 5px; display: table-cell; margin: 0px; vertical-align: middle;}
.e-transparent .cardsep { opacity: 0.4; }
.cardcontent .cardname { width: 45%; }
.cardcontent .cardnop { width: 15%; }
.cardcontent .cardid { width: 20%; }
.cardcontent .cardcount { width: 20%; }
.pop { position: absolute; width: auto; height: auto; border: solid 1px; margin-left: 1px; padding-right: 16px; color: white; background: black; line-height: 24px; z-index: 1000; white-space: nowrap; }
.gear { float: right; width: 200px; margin-top: 20px; margin-right: 50px; border: solid 1px white; }
.gear .header { text-align: center; }
.gear-card { display: table; width: 100%; }
.gear-card .cardinfo { width: 100%; }
.gear-card .cardname { width: 50%; }
.gear-card .cardop { width: 30%; }
.gear-card .cardcount { width: 20%; }

/* for card info */
.cardinfo.rarity-common { color: #cbe19c; }
.cardinfo.rarity-uncommon { color: #44ee48; }
.cardinfo.rarity-rare { color: #7faaff; }
.cardinfo.rarity-epic { color: #c46fff; }
.cardinfo.rarity-class { color: #ff6125; }

.pop .in1 { padding: 0 8px; }
.pop .in2 { padding: 0 16px; }
.pop .in3 { padding: 0 24px; }
.pop .in4 { padding: 0 32px; }
.pop .in5 { padding: 0 40px; }
.pop .in6 { padding: 0 48px; }
.pop .c3 { color: #497ea0; }
.pop .armor { color: #f6a; }
.pop .ward { color: #3cc; }
.pop .melee { color: #f66; }
.pop .magic { color: #99c; }
.pop .sprit { color: #c96; }
.pop .willpower { color: #f60; }
.pop .spi { color: #ff0; }
.pop .pow { color: #f66; }
.pop .dex { color: #56fa76; }
.pop .int { color: #a8caff; }
.pop .con { color: #f90; }
