.cardcontent { width: 300px; margin-top: 20px; }
.cardinfo,.cchead { width: 280px; margin-top:-1px; float: left; display: block; border: solid 1px; }
.cardsep  { padding-left: 5px; float: left; display: inline; margin: 0px; }
.lb { border-left: 1px solid; }
.cardname { width: 150px; }
.cardid { width: 60px; }
.cardcount { width: 40px; }
.pop { position: absolute; width: 100px; height: 100px; border: solid 1px; margin-left: 10px; }
